<h1>Input</h1>

<%= form_for(@post) do |f| %>
<form action="/posts" method="post">
  
  <p>
    <%= f.label :bottom_copy %>
    <%= f.text_field :bottom_copy %>    
  </p>


  <%= f.submit %>
<% end %>